@font-face {
    font-family: 'Inter-Regular';
    src: url('./assets/font/Inter-Regular.woff2') format('woff2'),
             url('./assets/font/Inter-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Bold';
    src: url('./assets/font/Inter-Bold.woff2') format('woff2'),
             url('./assets/font/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter ExtraBold';
    src: url('./assets/font/Inter-ExtraBold.woff2') format('woff2'),
             url('./assets/font/Inter-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';